In [2]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/40/f5/55dd794bb70a9b73510454ac3fb57c27450d70eaf5811f4fb618b80bcace/mysql_connector_python-8.0.16-cp36-cp36m-manylinux1_x86_64.whl (13.0MB)
    100% |████████████████████████████████| 13.0MB 1.0MB/s ta 0:00:01    86% |███████████████████████████▋    | 11.2MB 1.5MB/s eta 0:00:02    88% |████████████████████████████▍   | 11.5MB 1.2MB/s eta 0:00:02
Requirement already satisfied: protobuf>=3.0.0 in ./anaconda3/lib/python3.6/site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: six>=1.9 in ./anaconda3/lib/python3.6/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.11.0)
Requirement already satisfied: setuptools in ./anaconda3/lib/python3.6/site-packages (from protobuf>=3.0.0->mysql-connector-python) (39.1.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.16
You are using pip version 19.0.2, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [60]:
import mysql.connector
conn = mysql.connector.connect(
         user='foouser',
         password='F88Pa%%**',
         host='134.209.144.239',
         database='stocksdb')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe3549a4470>

In [61]:
print(conn.database)

stocksdb

In [62]:
cursor = conn.cursor()

In [63]:
cursor.execute("USE stocksdb")

In [64]:
cursor.execute("SHOW TABLES")

In [65]:
tables = cursor.fetchall()

In [82]:
cursor.execute("select * from interview")

In [52]:
records = cursor.fetchall()

In [54]:
len(records)

500000

In [44]:
cursor.column_names

('isin',
 'insertion_datetime',
 'datetime',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'open_interest')

In [46]:
cursor.description

[('isin', 253, None, None, None, None, 1, 0),
 ('insertion_datetime', 12, None, None, None, None, 1, 128),
 ('datetime', 12, None, None, None, None, 1, 128),
 ('open', 4, None, None, None, None, 1, 32768),
 ('high', 4, None, None, None, None, 1, 32768),
 ('low', 4, None, None, None, None, 1, 32768),
 ('close', 4, None, None, None, None, 1, 32768),
 ('volume', 3, None, None, None, None, 1, 32768),
 ('open_interest', 3, None, None, None, None, 1, 32768)]

In [55]:
import pandas as pd

In [83]:
df = pd.DataFrame(cursor.fetchall())
df.columns =cursor.column_names

In [84]:
df.head()

,isin,insertion_datetime,datetime,open,high,low,close,volume,open_interest
0,INE545A01016,NaT,2018-01-01 09:15:00,2419.0,2436.00,2408.90,2435.25,10281,NaN
1,INE545A01016,NaT,2018-01-01 09:16:00,2435.0,2440.00,2426.45,2439.00,13315,NaN
2,INE545A01016,NaT,2018-01-01 09:17:00,2439.7,2439.70,2422.10,2424.95,3760,NaN
3,INE545A01016,NaT,2018-01-01 09:18:00,2420.0,2424.50,2386.50,2395.00,11653,NaN
4,INE545A01016,NaT,2018-01-01 09:19:00,2395.0,2413.95,2394.70,2409.85,7744,NaN

In [85]:
df = df[['datetime','open','high','low','close']]

In [86]:
df.columns = ['Date','Open','High','Low','Close']

In [88]:
df.to_csv('pinky_assignment_stock_market_prediction_dataset.csv', index =False)